---
layout: default
title: About
permalink: about
---
    <!--Page title-->
    <section class="page-title" style="background-image:url({{site.baseurl}}/images/background/5.png)">
        <div class="container">
            <h1>About Us</h1>
        </div>
    </section>
    {% include breadcrumbs.html %}

    <!-- About Us -->
    <section class="about-us-two sp-four">
        <div class="container">
            <!-- about block -->
            <div class="about-block-two">
                <div class="inner-box">
                    <h4>UNITE . RISE . EMPOWER <span></span></h4>
                    <h1>About <span class="theme-color">Rotaract Bagalore East</span></h1>
                    <!-- <h1>Impact of <span class="theme-color">RBE</span></h1> -->
                    <div class="text">
                        <p>Rotaract Bangalore East is a community-based club from Bangalore, established on 17 January 1975 and rechartered in July 2019.</p>
                        <p>We are a group of bright, energetic and motivated youngsters creating a positive change in society.</p>
                        <p>At Rotaract Bangalore East we believe in 3 core values "UNITE . RISE . EMPOWER":<br>
                            <strong>UNITE:</strong> We are a family and family means no one gets left behind or forgotten.<br>
                            <strong>RISE:</strong> With Unity, we RISE by learning from each other.<br>
                            <strong>EMPOWER:</strong> With Unity, we Rise and Empower the Community around us.<br>
                        </p>
                        <p>Be part of the journey by Volunteering, Collaborating and Supporting the Events and Projects. Let's experience the joy of giving back to the community.</p>
                        <p>#3190rbe<br>"UNITE . RISE . EMPOWER"</p>
                    </div>
                    <!-- <div class="author">
                        <div class="inner-box">
                            <div class="image"><img src="images/resource/logoSign.png" alt="RBE Logo"></div>
                            <h5>Team RBE</h5>
                            <div class="sign"><img src="images/resource/logoSign.png" alt="RBE Logo"></div>
                        </div>  
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    {% if site.data.info.stats %}
    <!-- Fact Counter -->
    <div class="fact-counter sp-two style-two">
        <div class="container">
            <div class="row">
                {% for fact in site.data.info.stats %}
                <!--Column-->
                <article class="column counter-column col-xl-3 col-lg-6 col-md-6 wow fadeIn" data-wow-duration="{% if forloop.first %}900{% else %}{{forloop.index | minus:1 | times:300}}{% endif %}ms">
                    <div class="item">
                        <div class="inner-box">
                            <div class="icon-box"><span class="{{fact.icon}}"></span></div>
                            <div class="count-outer">
                                <span>{{fact.count}}</span>
                                <p>{{fact.title}}</p>
                            </div>
                        </div>                                                      
                    </div>
                </article>
                {% endfor %}
                
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Disaster response -->
    <section class="disaster-response sp-two" style="background-image: url(images/background/3.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image mb-30"><img src="images/resource/feature-5.jpeg" alt="Fundrising for Goodness"></div>
                </div>
                <div class="col-lg-6 pl-lg-5">
                    <div class="text-block-one">
                        <h4>Fundrising for Goodness</h4>
                        <h1>Quick Community Response</h1>
                        <div class="text">The support we give to the community is the rent that we pay for our time on Earth. Be part of the change and experience the joy of giving back to the community.</div>
                        <div class="link-btn"><a href="{{site.baseurl}}/causes" class="theme-btn btn-style-twelve">Our Causes</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Welcome Section -->
    <section class="welcome-section sp-two">
        <div class="container">
            <div class="row justify-content-around">
                {% for block in site.data.info.welcomeSection %}
                <!-- services block -->
                <div class="services-block-one col-lg-4 col-md-6">
                    <div class="inner-box hvr-float-shadow">
                        <div class="icon"><span class="{{block.icon}}"></span></div>
                        <h4><a href="{% if block.target contains "://" %}{{ block.target }}{% else %}{{ block.target | relative_url }}{% endif %}" {% if block.target contains "://" %}target="_blank"{% endif %}>{{block.title}}</a></h4>
                        <div class="text">{{block.brief}}</div>
                        <div class="read-more">
                            <a href="{% if block.target contains "://" %}{{ block.target }}{% else %}{{ block.target | relative_url }}{% endif %}" {% if block.target contains "://" %}target="_blank"{% endif %}><span class="flaticon-right-arrow"></span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Our Team -->
    <section class="our-team sp-five">
        <div class="container">
            <!--Sec Title-->
            <div class="sec-title centered">
                <div class="icon-box"><img src="images/icons/sec-title.png" alt=""></div>
                <h1>Our <span>Team</span></h1>
                <div class="text">#TeamRBE</div>
            </div>
            <div class="four-item-carousel owl-carousel owl-theme owl-nav-none owl-dot-style-one">
                {% for member in site.data.team.members %}
                <!-- team block -->
                <div class="team-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{member.image | relative_url}}" alt="{{member.name}}">
                            <div class="overlay-box">
                                <ul class="social-icon-one">
                                    {% if member.social.facebook != "" %}
                                    <a href="{{member.social.linkedin}}" target="_blank"><span class="fab fa-facebook"></span></a><br>
                                    {% endif %}
                                    {% if member.social.instagram != "" %}
                                    <a href="{{member.social.linkedin}}" target="_blank"><span class="fab fa-instagram"></span></a><br>
                                    {% endif %}
                                    {% if member.social.twitter != "" %}
                                    <a href="{{member.social.linkedin}}" target="_blank"><span class="fab fa-twitter"></span></a><br>
                                    {% endif %}
                                    {% if member.social.linkedin != "" %}
                                    <a href="{{member.social.linkedin}}" target="_blank"><span class="fab fa-linkedin"></span></a><br>
                                    {% endif %}
                                    {% if member.social.email != "" %}
                                    <a href="{{member.social.linkedin}}" target="_blank"><span class="fas fa-envelope-open"></span></a><br>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="lower-box">
                            <div class="designation">{{member.role}}</div>
                            <h4><a {% if member.featurelink != "" %}href="{{member.featurelink}}" target="_blank"{% endif %}>{{member.name}}</a></h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- end -->
            </div>
        </div>
    </section>

    <!-- Parallax section -->
    <section class="parallax-section style-two" style="background-image: url(images/background/3.jpg)">
        <div class="container">
            <h1>We are Easterners<br>United to Rise and Empower the Community.</h1>
            <h3>Join us & Become a Rotaractor <span class="border-shape"></span></h3>
        </div>
    </section>
    {% if site.data.info.testimonials.size > 0 %}
    <!-- Testimonial Section -->
    <section class="testimonial-section sp-one">
        <div class="container">
            <div class="single-item-carousel owl-carousel owl-theme owl-nav-none owl-dot-none">
                {% for testimonial in site.data.info.testimonials %}
                <div class="testimonial-block-one">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{{testimonial.image | relative_url}}" alt="{{testimonial.name}}">
                        </div>
                        <div class="text">{{testimonial.message}} </div>
                        <h3>{{testimonial.name}}  <span>{{testimonial.affiliation}}</span></h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--End Testimonial Section-->
    {% endif %}
    <!-- Feature section -->
    <!-- <section class="feature-section">
        <div class="container-fluid">
            <div class="row m-0">
                <div class="feature-block col-xl-4 col-lg-6">
                    <div class="inner-box">
                        <div class="image"><img src="images/resource/feature-1.jpg" alt=""></div>
                        <div class="overlay-content">
                            <h5>Food & Water</h5>
                            <h4>Benefitting over 800,000 children every year through welfare projects </h4>
                        </div>
                    </div>
                </div>
                <div class="feature-block col-xl-4 col-lg-6">
                    <div class="inner-box">
                        <div class="image"><img src="images/resource/feature-2.jpg" alt=""></div>
                        <div class="overlay-content">
                            <h5>Get Quick Donations</h5>
                            <h4>Deploy best possible methodology and technology for achieving ideal</h4>
                        </div>
                    </div>
                </div>
                <div class="feature-block col-xl-4 col-lg-6">
                    <div class="inner-box">
                        <div class="image"><img src="images/resource/feature-3.jpg" alt=""></div>
                        <div class="overlay-content">
                            <h5>Real Approach</h5> 
                            <h4>We help donors make safe and easy donations to local organizations</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->