---
layout: default
---
<!-- Main slider -->
<section class="main-slider">
    <div class="container-fluid">
        <ul class="main-slider-carousel owl-carousel owl-theme slide-nav">
            <li class="slider-wrapper">
                <div class="image"><img src="images/main-slider/4.jpg" alt=""></div>
                <div class="slider-caption light text-center">
                    <div class="container">
                        <h3>UNITE . RISE . EMPOWER<span class="border-shape"></span></h3>
                        <h1>UNITE with Easterners</h1>
                        <div class="text light large-text">We are a family and family means no one gets left behind or forgotten</div>
                        <div class="link-btn"><a href="{{site.baseurl}}/news" class="theme-btn btn-style-two">Learn More</a></div>
                    </div>                            
                </div>
                <div class="slide-overlay"></div>
            </li>
            <li class="slider-wrapper">
                <div class="image"><img src="images/main-slider/2.jpg" alt=""></div>
                <div class="slider-caption light text-center">
                    <div class="container">
                        <h3>UNITE . RISE . EMPOWER<span class="border-shape"></span></h3>
                        <h1>RISE with Easterners</h1>
                        <div class="text light large-text">With Unity we RISE by learning from each other</div>
                        <div class="link-btn"><a href="{{site.baseurl}}/news" class="theme-btn btn-style-two">Learn More</a></div>
                    </div>                          
                </div>
                <div class="slide-overlay"></div>
            </li>
            <li class="slider-wrapper">
                <div class="image"><img src="images/main-slider/3.jpg" alt=""></div>
                <div class="slider-caption light text-center">
                    <div class="container">
                        <h3>UNITE . RISE . EMPOWER<span class="border-shape"></span></h3>
                        <h1>EMPOWER the Community</h1>
                        <div class="text light large-text">With Unity we Rise and Empower the Community around Us</div>
                        <div class="link-btn"><a href="{{site.baseurl}}/news" class="theme-btn btn-style-two">Learn More</a></div>
                    </div>                          
                </div>
                <div class="slide-overlay"></div>
            </li>
        </ul>
    </div>
</section>

<!-- Welcome Section -->
<section class="welcome-section sp-two">
    <div class="container">
        <div class="row justify-content-around">
            {% for block in site.data.info.welcomeSection %}
            <!-- services block -->
            <div class="services-block-one col-lg-3 col-md-6 col-sm-6">
                <div class="inner-box hvr-float-shadow">
                    <div class="icon"><span class="{{block.icon}}"></span></div>
                    <h4><a href="{% if block.target contains "://" %}{{ block.target }}{% else %}{{ block.target | relative_url }}{% endif %}" {% if block.target contains "://" %}target="_blank"{% endif %}>{{block.title}}</a></h4>
                    <div class="text">{{block.brief}}</div>
                    <div class="read-more">
                        <a href="{% if block.target contains "://" %}{{ block.target }}{% else %}{{ block.target | relative_url }}{% endif %}" {% if block.target contains "://" %}target="_blank"{% endif %}><span class="flaticon-right-arrow"></span></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- end -->
        </div>
    </div>
</section>

<!-- About Us -->
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 image-block-one">
                <div class="image big-image"><img src="images/resource/about.jpg" alt=""></div>
                <div class="image small-image"><img src="images/resource/about-small.jpg" alt=""></div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="pl-lg-5">
                    <!-- sec-title -->
                    <div class="sec-title style-two">
                        <h4>A Family with Mission</h4>
                        <h1>We are <span>Rotaractors</span></h1>
                    </div>
                    <!-- about block -->
                    <div class="about-block">
                        <div class="inner-box">
                            <div class="text">
                                <p>Rotaract Bangalore East is a community-based club from Bangalore, sponsored by <a href="https://goodwillrbe.blogspot.com/" target="_blank">Rotary Bangalore East</a>. We are a group of bright, energetic and motivated youngsters creating a positive change in society.</p>
                                <p>Through our activities, we aim to create a positive social impact and experience the joy of giving back to the community. Be part of the journey by Volunteering, Collaborating and Supporting the Events and Projects. Let's "UNITE . RISE . EMPOWER".</p>
                            </div>
                            <div class="author">
                                <div class="inner-box">
                                    <h5>Team RBE</h5>
                                </div>
                                <div class="sign"><img src="images/resource/logoSign.png" alt="RBE Logo"></div>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
</section>

{% assign featured_causes = site.causes | where: "featured","true" | sort: 'due' %}

{% assign active_fcauses = 0 %}
{% for cause in featured_causes %}
    {% if cause.active %}
        {% assign active_fcauses = active_fcauses | plus: 1 %}
    {% endif %}
{% endfor %}

{% if active_fcauses > 0 %}
<!-- Causes Section -->
<section class="causes-section sp-two">
    <div class="container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="icon-box"><img src="images/icons/sec-title.png" alt=""></div>
            <h1>Featured <span>Causes</span></h1>
            <div class="text">The support we give to the community is the rent that we pay for our time on Earth.</div>
        </div>
        <div class="row justify-content-around">
    {% assign featuredpost_count = 0 %}   
    {% for cause in featured_causes limit: 3 %}
        {% if cause.due and cause.active and featuredpost_count < 3 %}
        <!--Cause Block-->
        <div class="cause-block col-lg-4 col-md-6">
            <div class="inner-box">
                <figure class="image">
                    <img src="{{cause.image | relative_url}}" alt="{{cause.title}}">
                    <div class="overlay">
                    </div>
                </figure>
                <div class="lower-content">
                    <h5>{{cause.focus}}</h5>
                    <h4>{{cause.title}}</h4>
                    <div class="text">{{cause.intro | truncate: 80}} </div>
                    <!--Progress Levels-->
                    <div class="progress-levels">
                        <!--Skill Box-->
                        <div class="progress-box wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="inner">
                                <div class="bar">
                                    <div class="bar-innner"><div class="bar-fill" data-percent="{{cause.progress}}"><div class="percent"></div></div></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="donate clearfix">
                        <div class="float-left">
                            <span>Deadline: {% if cause.due %}{{cause.due | date: '%b %d, %Y'}}{% else %}Ongoing{% endif %}</span>
                        </div>
                        <div class="float-right">
                            Goal: ₹{{cause.goal}}
                        </div>
                    </div>
                    <div class="link-btn"><a href="{{cause.url}}" class="theme-btn btn-style-four">Read More</a></div>
                </div>
            </div>
        </div>   
        {% assign featuredpost_count = featuredpost_count | plus: 1 %}   
        {% endif %}
    {% endfor %}

    {% for cause in featured_causes limit: 3 %}
        {% if cause.due == nil and cause.active and featuredpost_count < 3 %}
        <!--Cause Block-->
        <div class="cause-block col-lg-4 col-md-6">
            <div class="inner-box">
                <figure class="image">
                    <img src="{{cause.image | relative_url}}" alt="{{cause.title}}">
                    <div class="overlay">
                    </div>
                </figure>
                <div class="lower-content">
                    <h5>{{cause.focus}}</h5>
                    <h4>{{cause.title}}</h4>
                    <div class="text">{{cause.intro | truncate: 80}} </div>
                    <!--Progress Levels-->
                    <div class="progress-levels">
                        <!--Skill Box-->
                        <div class="progress-box wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="inner">
                                <div class="bar">
                                    <div class="bar-innner"><div class="bar-fill" data-percent="{{cause.progress}}"><div class="percent"></div></div></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="donate clearfix">
                        <div class="float-left">
                            <span>Deadline: {% if cause.due %}{{cause.due | date: '%b %d, %Y'}}{% else %}Ongoing{% endif %}</span>
                        </div>
                        <div class="float-right">
                            Goal: ₹{{cause.goal}}
                        </div>
                    </div>
                    <div class="link-btn"><a href="{{cause.url}}" class="theme-btn btn-style-four">Read More</a></div>
                </div>
            </div>
        </div>
        {% assign featuredpost_count = featuredpost_count | plus: 1 %}
        {% endif %}
    {% endfor %}
    
        </div>
    </div>
</section>
{% endif %}


{% if site.data.info.stats %}
<!-- Fact Counter -->
<div class="fact-counter sp-two" style="background-image: url(images/background/1.jpg)">
    <div class="container">
        <div class="row">

            {% for fact in site.data.info.stats %}
            <!--Column-->
            <article class="column counter-column col-xl-3 col-lg-6 col-md-6 wow fadeIn" data-wow-duration="{% if forloop.first %}900{% else %}{{forloop.index | minus:1 | times:300}}{% endif %}ms">
                <div class="item">
                    <div class="inner-box">
                        <div class="icon-box"><span class="{{fact.icon}}"></span></div>
                        <div class="count-outer">
                            <span>{{fact.count}}</span>
                            <p>{{fact.title}}</p>
                        </div>
                    </div>                                                      
                </div>
            </article>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}

<!-- Mission Section -->
<section class="mission-section sp-one">
    <div class="container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="icon-box"><img src="images/icons/sec-title.png" alt=""></div>
            <h1>Mission & <span>Goals</span></h1>
            <div class="text">With Unity we Rise and Empower the Community Around Us</div>
        </div>

        <div class="row clearfix justify-content-center">
            {% for mission in site.data.info.areasoffocus %}
            <!-- Mission block -->
            <div class="col-xl-4 col-lg-6 col-md-6 mission-block">
                <div class="inner-box">
                    <div class="image">
                        <div class="caption">
                            <div>
                                <div class="icon-box"><span class="{{mission.icon}}"></span></div>
                                <h4>{{mission.title}}</h4>
                            </div>  
                        </div>
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <div class="text">{{mission.description | strip_html | truncate: 80 }}</div>
                                    <h4>{{mission.title}}</h4>
                                    <div class="icon-box"><span class="{{mission.icon}}"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
            
    </div>
</section>

<!-- Event section -->
<section class="event-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 image-block-one">
                <div class="image big-image"><img src="images/resource/upcomming-event.jpg" alt=""></div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="sp-three">
                    <!-- sec-title -->
                    <div class="sec-title style-two">
                        <h4>A Family with Mission</h4>
                        <h1>Our <span>Events</span></h1>
                        <div class="text">Be part of the journey by Volunteering, Collaborating and Supporting the Events and Projects. Let's UNITE . RISE . EMPOWER</div>
                    </div>
                    
                    <div class="row">

                        {% assign events = site.events | sort: 'start' %}
                        {% capture now %}{{ site.time | date: '%Y%m%d' | plus: 0 }}{%- endcapture %}

                        {% assign event_count = 0 %}

                        {% for event in events %}
                        {% capture start %}{{event.start | date: '%Y%m%d' | plus: 0 }}{% endcapture %}
                        {% capture end %}{{event.end | date: '%Y%m%d' | plus: 0 }}{% endcapture %}
                        {% if end > now or start >= now and event_count < 2 %} 
                            <!-- Event block -->
                            <div class="col-md-6 event-block">
                                <div class="inner-box">
                                    <div class="date">{{ event.start | date: '%d' }} <span>{{ event.start | date: '%B' | upcase}}</span></div>
                                    <div class="organizer">Organized By: <a>{{site.data.info.authors[event.author].display_name}}</a></div>
                                    <h4>{{event.title}}</h4>
                                    <ul class="post-meta">
                                        <li><span class="fa fa-clock"></span>{% if start <= now %}Started on {{ event.start | date: '%d.%m.%Y %I:%M %p' }}{% else %}Starts {{ event.start | date: '%I:%M %p' }}{% endif %}</li>
                                        <li><span class="fa fa-map-marker-alt"></span>{{event.location}}</li>
                                        <li><a href="{{event.url}}" class="theme-btn btn-style-three">Learn More</a></li>
                                    </ul>

                                </div>
                            </div>
                            <!-- Event block -->
                        {% assign event_count = event_count | plus: 1 %}
                        {% endif %}
                        {% endfor %}

                        {% for event in events %}
                        {% capture start %}{{event.start | date: '%Y%m%d' | plus: 0 }}{% endcapture %}
                        {% if event.end == nil and event_count < 2 %} 
                            <!-- Event block -->
                            <div class="col-md-6 event-block">
                                <div class="inner-box">
                                    <div class="date">{{ event.start | date: '%d' }} <span>{{ event.start | date: '%B' | upcase}}</span></div>
                                    <div class="organizer">Organized By: <a>{{site.data.info.authors[event.author].display_name}}</a></div>
                                    <h4>{{event.title}}</h4>
                                    <ul class="post-meta">
                                        <li><span class="fa fa-clock"></span>{% if start <= now %}Started on {{ event.start | date: '%d.%m.%Y %I:%M %p' }}{% else %}Starts {{ event.start | date: '%I:%M %p' }}{% endif %}</li>
                                        <li><span class="fa fa-map-marker-alt"></span>{{event.location}}</li>
                                        <li><a href="{{event.url}}" class="theme-btn btn-style-three">Learn More</a></li>
                                    </ul>

                                </div>
                            </div>
                            <!-- Event block -->
                        {% assign event_count = event_count | plus: 1 %}
                        {% endif %}
                        {% endfor %}


                    </div>
                    
                    <div class="link-btn"><a href="{{site.baseurl}}/events" class="theme-btn btn-style-fourteen">Events Calender</a></div>
                </div>
                    
            </div>
        </div>
    </div>
</section>

<!-- Our Team -->
<section class="our-team sp-one">
    <div class="container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="icon-box"><img src="images/icons/sec-title.png" alt=""></div>
            <h1>Our <span>Team</span></h1>
            <div class="text">#TeamRBE</div>
        </div>
        <div class="four-item-carousel owl-carousel owl-theme owl-nav-none owl-dot-style-one">
            {% for member in site.data.team.members %}
            <!-- team block -->
            <div class="team-block">
                <div class="inner-box">
                    <div class="image">
                        <img src="{{member.image | relative_url}}" alt="{{member.name}}">
                        <div class="overlay-box">
                            <ul class="social-icon-one">
                                {% if member.social.facebook %}
                                <li><a href="{{member.social.linkedin}}" target="_blank"><span class="fab fa-facebook"></span></a></li>
                                {% endif %}
                                {% if member.social.instagram %}
                                <li><a href="{{member.social.linkedin}}" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                {% endif %}
                                {% if member.social.twitter %}
                                <li><a href="{{member.social.linkedin}}" target="_blank"><span class="fab fa-twitter"></span></a></li>
                                {% endif %}
                                {% if member.social.linkedin %}
                                <li><a href="{{member.social.linkedin}}" target="_blank"><span class="fab fa-linkedin"></span></a></li>
                                {% endif %}
                                {% if member.social.email %}
                                <li><a href="{{member.social.linkedin}}" target="_blank"><span class="fas fa-envelope-open"></span></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="lower-box">
                        <div class="designation">{{member.designation}}</div>
                        <h4><a href="{{member.namelink}}" target="_blank">{{member.name}}</a></h4>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- end -->
        </div>
    </div>
</section>

<!-- Parallax section -->
<section class="parallax-section" style="background-image: url(images/background/3.jpg)">
    <div class="container">
        <h1>We are Easterners<br>United to Rise and Empower the Community.</h1>
        <h3>Join us & Become a Rotaractor <span class="border-shape"></span></h3>
    </div>
</section>
{% if site.data.info.testimonials.size > 0 %}
{% include testimonial.html %}
{% endif %}
<!-- News Section -->
<section class="news-section sp-two">
    <div class="container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="icon-box"><img src="images/icons/sec-title.png" alt=""></div>
            <h1>What’s <span>Happening</span></h1>
            <div class="text">Read and share the latest updates from Rotaract Bangalore East</div>
        </div>
        <div class="row clearfix">
            {% assign posts = site.posts | sort: 'date' | reverse %}
            {% for post in posts limit: 3 %}
            {% include postbox.html %}
            {% endfor %}
            {% assign posts = null %}
        </div>
    </div>
</section>

<!-- Volunteer section -->
<section class="volunteer-section">
    <div class="container">
        <div class="outer-box">
            <!--Sec Title-->
            <div class="sec-title centered">
                <div class="icon-box"><img src="images/icons/sec-title.png" alt=""></div>
                <h1>Get  <span>Involved</span></h1>
                <div class="text">Let's UNITE . RISE . EMPOWER</div>
            </div>
            <div class="row m-0">
                <div class="col-lg-6 p-0">
                    <div class="text-block-two">
                        <h3>Rotaract Bangalore East</h3>
                        <h4>Join us to be part of the Rotaract family.</h4>
                        <div class="text">At Rotaract Bagnalroe East, we UNITE to RISE by learning from each other and EMPOWER the community around us and experience the joy of giving as members of RBE.</div>
                        <div class="link-btn"><a href="{{site.baseurl}}/join" class="theme-btn btn-style-two">Join Us</a></div>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="image"><img src="images/resource/volunteer.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Supporters section -->
<section class="client-section sp-one">
    <div class="container">

        {% for type in site.data.info.partners %}

        <div class="sec-title centered">
            <h3>{{type.type}}</h3>
        </div>

        <div class="row justify-content-center">
            {% for partner in type.list %}
            <div class="image col-12 col-md-6 col-lg-{{12 | divided_by:type.line_count}} mb-4 mb-md-5 text-center"><a href="{{partner.link}}" target="_blank"><img src="{{partner.img | relative_url}}" alt="{{partner.name}}"></a></div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>