---
layout: default
title: Join
permalink: join
description: Join Rotaract Bagnalroe East as we UNITE to RISE by learning from each other and EMPOWER the community around us and experience the joy of giving as members of RBE.
---

    <!--Page title-->
    <section class="page-title" style="background-image:url(images/background/5.png)">
        <div class="container">
            <h1>Join Us</h1>
        </div>
    </section>
    {% include breadcrumbs.html %}

    <!-- Contact form -->
    <section class="contact-form-section sp-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mb-30">
                    <div class="default-form-area">
                        <h1>Lets UNITE, RISE AND EMPOWER</h1>

                        <script type="text/javascript">
                            var submission = false;
                        </script>
                        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
                            onload="if(submission)  {window.location='/thankyou/';}"></iframe>

                        <form action="https://docs.google.com/forms/d/e/1FAIpQLSeukck0yLWRUanwK1XjL6gBOMDlq0pk4oJ5bRIQ2QYeY7BYvg/formResponse"
                        target="hidden_iframe" onsubmit="submission=true;" id="contact-form" name="contact_form" method="POST" class="contact-form style-five">
                            <div class="row clearfix">
                                <div class="col-md-12 column">        
                                    <div class="form-group">
                                        <label for="">Name</label>
                                        <input type="text" name="entry.610221127" placeholder="" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6 column">
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        <input type="email" name="entry.207513290" class="form-control required email" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-md-6 column">
                                    <div class="form-group">
                                        <label for="">Phone</label>
                                        <input type="tel" name="entry.557203297" class="form-control" pattern="[6-9]{1}[0-9]{9}" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-md-6 column">
                                    <div class="form-group">
                                        <label for="">Date of Birth</label>
                                        <input type="text" name="entry.798190516" onfocus="(this.type='date')" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-md-6 column">
                                    <div class="form-group">
                                        <label for="">Gender</label>
                                        <select name="entry.1887778624" id="gender" required>
                                            <option value="" disabled="" selected="" hidden=""></option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Prefer not to say">Prefer not to say</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 column">
                                    <div class="form-group">
                                        <label for="">Your Current Address</label>
                                        <input type="text" name="entry.2134806077" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-md-12 column">
                                    <div class="form-group">
                                        <label for="">Why do you want to join Rotaract?</label>
                                        <textarea name="entry.64299667" class="form-control textarea required" placeholder="" required></textarea>
                                    </div>
                                </div>                                            
                            </div>
                            <div class="contact-section-btn">
                                <div class="form-group style-two">
                                    <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                    <button class="theme-btn btn-style-two" type="submit" data-loading-text="Please wait...">Submit Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 mb-30 pl-lg-5">
                    <div class="title">
                        <h4>Contact Information</h4>
                        <div class="text mb-40">You can contact or visit us anytime round the week.</div>
                    </div>
                    <ul class="contact-info-list">
                        <li><span class="fas fa-map-marker-alt"></span><b>Address</b>{{site.data.info.location}}</li>
                        <li><span class="fa fa fa-envelope-open"></span><b>Email</b>{{site.data.info.email}}</li>
                        <li><span class="fa fa-phone"></span><b>Phone</b>{{site.data.info.phone}}</li>
                    </ul>
                    <ul class="social-icon-three">
                    {% for social in site.data.info.site_social %}
                        {% if social[1] %}
                        <li><a href="{{ social[1] }}" target="_blank"><i class="fab fa-{{ social[0] }}"></i></a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    
                </div>
            </div>            
        </div>
    </section>
