<!-- jequery plugins -->

<script src="{{site.baseurl}}/js/jquery.js"></script>
<script src="{{site.baseurl}}/js/popover.js"></script>
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/js/wow.js"></script>
<script src="{{site.baseurl}}/js/owl.js"></script>
<script src="{{site.baseurl}}/js/validate.js"></script>
<script src="{{site.baseurl}}/js/mixitup.js"></script>
<script src="{{site.baseurl}}/js/isotope.js"></script>
<script src="{{site.baseurl}}/js/appear.js"></script>
<script src="{{site.baseurl}}/js/jquery.fancybox.js"></script>
<script src="{{site.baseurl}}/js/script.js"></script>
<script src="{{site.baseurl}}/js/InstagramFeed.min.js"></script>
<script>
    (function () {
        new InstagramFeed({
            'username': '3190rbe',
            'container': document.getElementById("instafeed"),
            'display_profile': false,
            'display_biography': false,
            'display_gallery': true,
            'callback': null,
            'styling': true,
            'items': 6,
            'image_size': 150,
            'lazy_load': true,
            'on_error': console.error
        });
    })();
</script>