<!-- jequery plugins -->

<script src="{{site.baseurl}}/js/jquery.js"></script>
<script src="{{site.baseurl}}/js/popover.js"></script>
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/js/wow.js"></script>
<script src="{{site.baseurl}}/js/owl.js"></script>
<script src="{{site.baseurl}}/js/validate.js"></script>
<script src="{{site.baseurl}}/js/mixitup.js"></script>
<script src="{{site.baseurl}}/js/isotope.js"></script>
<script src="{{site.baseurl}}/js/appear.js"></script>
<script src="{{site.baseurl}}/js/jquery.fancybox.js"></script>

<script src="{{site.baseurl}}/js/script.js"></script>