<!-- main header -->
<header class="main-header">

    <!-- header top -->
    <div class="header-top">
        <div class="container">
            <div class="outer-box">
                <!--Top Left-->
                <div class="top-left">
                    <ul class="links-nav clearfix">
                        <li><i class="fa fa-phone"></i>Call Us Now: <strong>{{site.data.info.phone}}</strong></li>
                        <li><i class="fa fa-envelope-open"></i>Send Us Email: <strong>{{site.data.info.email}}</strong></li>
                    </ul>
                </div>

                <!--Top Right-->
                <div class="top-right">
                    <div class="link-btn"><a href="https://blood.rotaract3190.org/" target="_blank" class="theme-btn login-btn"><span
                                class="fa fa-tint"></span>Blood Donors</a></div>
                    <div class="social-links clearfix">
                        {% for social in site.data.info.site_social %}
                        {% if social[1] %}
                        <a href="{{ social[1] }}" target="_blank"><span class="fab fa-{{ social[0] }}"></span></a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Header-Upper-->
    <div class="header-upper">
        <div class="container clearfix">

            <div class="float-left logo-outer">
                <div class="logo"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo.png" alt="{{site.title}}" title="{{site.title}}"></a></div>
            </div>

            <div class="float-right upper-right clearfix">

                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                            {% for item in site.data.info.nav %}
                                <li {% if item.url == page.url %}class="current"{% endif %}><a href="{{item.url}}">{{item.title}}</a></li>
                              {% endfor %}
                            </ul>
                        </div>
                    </nav>

                    <!-- Main Menu End-->

                    <!-- Search box -->
                    <div class="outer-box">
                        <!--Search outer-->
                        <div class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                        class="fa fa-search"></span></button>
                                <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                    <li class="panel-outer">
                                        <div class="form-container">
                                            <form action="{{ site.baseurl }}/search" method="get">
                                                <div class="form-group">
                                                    <input type="search" name="q" placeholder="Search Here" required>
                                                    <button type="submit" class="search-btn"><span
                                                            class="fa fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="link-btn"><a href="#" class="theme-btn btn-style-two donate-box-btn">Donate Now</a></div> -->
                        <div class="link-btn"><a href="{{site.baseurl}}/join" class="theme-btn btn-style-two">Join Us</a></div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <!--End Header Upper-->

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="container">
            <div class="clearfix">
                <!--Logo-->
                <div class="logo float-left">
                    <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo.png" alt="{{site.title}}" title="{{site.title}}"></a>
                </div>

                <!--Right Col-->
                <div class="right-col float-right">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                {% for item in site.data.info.nav %}
                                <li {% if item.url == page.url %}class="current"{% endif %}><a href="{{item.url}}">{{item.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
            </div>


        </div>
    </div>
    <!--End Sticky Header-->
</header>