<!-- Testimonial Section -->
<section class="testimonial-section sp-one">
    <div class="container">

        <div class="single-item-carousel owl-carousel owl-theme owl-nav-none owl-dot-none">
            {% for testimonial in site.data.info.testimonials %}
            <div class="testimonial-block-one">
                <div class="inner-box">
                    <div class="image">
                        <img loading="lazy" src="{{testimonial.image | relative_url}}" alt="{{testimonial.name}}">
                    </div>
                    <div class="text">{{testimonial.message}} </div>
                    <h3>{{testimonial.name}}  <span>{{testimonial.affiliation}}</span></h3>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</section>
<!--End Testimonial Section-->